body{
    background-color: black;
    padding:15px;
}
.text {
    padding: 15px;
}

#popup {
    background-color: white;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin: auto;
    max-width: 750px;
    max-height: 500px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    border-radius: 5px;
    padding: 0px;
}

h1{
    grid-column: 2/-1;
    text-align: center;
    font-size: 28px;
}

h3{
    grid-column: 2/-1;
    text-align: center;
    font-size: 15px;
}

#image{
    grid-column: 1/2;
    border-radius: 5px;
}

#email{
    grid-column: 2/4;
    text-align: left;
    width: 90%;
    padding: 10px;
    margin: 5px 10px;
    border-radius: 3px;
    border-color: lightgray;
}

#name{
    grid-column: 2/4;
    text-align: left;
    width: 90%;
    padding: 10px;
    margin: 5px 10px;
    border-radius: 3px;
    border-color: lightgray;

}

#checkbox{
    grid-column: 2/4;
    text-align: left;
    float: left;
}

#checkboxLabel{
    grid-column: 2/4;
    float: left;
    font-size: 10px;
}

#button{
    color: white;
    font-weight: 700;
    border-width: 0;
    background-color: orange;
    padding: 15px 30px;
}
