body{
    background-color: #F0EAD2;
}

header{
    background-color: #6C584C;
}

footer{
    background-color: #6C584C;
}

footer h3{
    color: #F0EAD2;
}

footer a{
    color: #F0EAD2;
    text-decoration: none;
}

footer a:hover{
    color: #ffffff;
}

footer h3 a:hover{
    text-decoration: underline;
}

h4{
    color: #6C584C;
}

nav a{
    text-align: center;
    color: #F0EAD2;
    text-decoration: none;
}

nav a:hover{
    background-color: #A98467;
    color: #F0EAD2;
}

main section{
    text-align: center;
}

.button-box{
    text-align: center;
}

.msg {
    background-color: #A98467;
}

.msg h2{
    color: #F0EAD2;
}

.msg p{
    color: #F0EAD2;
}

.home-title{
    color: #6C584C;
}

.book, .join{
    background-color: #79C6E2;
    color: #F0EAD2;
    text-decoration: none;
}

.book:hover, .join:hover{
    background-color: #6C584C;
    color: #F0EAD2;
}

.logo {
    width: 80px;
}

.icon{
    width: 80px;
}

#hero-msg h1, #hero-msg h4{
    text-align: center;
}

#content{
    max-width: 1600px;
    margin: 0 auto;
}

#background{
    height: 725px;
    background-color: #A98467;
}