@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Stick+No+Bills:wght@300&display=swap');
/* color palette - https://coolors.co/264653-2a9d8f-e9c46a-f4a261-e76f51 */

body{
    font-family: Quicksand, Helvetica, Arial, sans-serif;
    background-color: #e9c46a;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

header{
    background-color: #264653;
}

footer{
    background-color: #264653;
    padding: 25px 50px;
    margin-top: 200px;
}

footer h3{
    color: #E9C46A;
}

footer a{
    color: #E9C46A;
    text-decoration: none;
}

footer a:hover{
    color: #ffffff;
}

footer h3 a:hover{
    text-decoration: underline;
}

footer .social img{
    padding-top: 15px;
}

h2{
    margin: 0;
}

h4{
    color: #264653;
}

nav a{
    text-align: center;
    color: #E9C46A;
    text-decoration: none;
    padding: 35px;
}

nav a:hover{
    background-color: #F4A261;
    color: #E9C46A;
}

main section{
    text-align: center;
}

main section img{
    box-sizing: border-box;
}

.home-title{
    font-family: 'Stick No Bills';
    font-size: 2em;
    margin-top: 10px;
}

.button-box{
    text-align: center;
}

.msg {
    background-color: #F4A261;
    padding: 35px;
}

.msg h2{
    font-family: 'Stick No Bills';
    color: #264653;
}

.msg p{
    color: #264653;
    font-size: .8em;
    line-height: 1.5em;
    padding-bottom: 15px;
}

.home-title{
    color: #264653;
}

.book, .join{
    background-color: #E76F51;
    color: #264653;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover, .join:hover{
    background-color: #264653;
    color: #E9C46A;
}

.logo {
    width: 80px;
}

.icon{
    width: 80px;
    padding-top: 10px;
}

.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}

.card-img{
    border: 10px solid #264653;
}

#hero-img{
    width: 100%
}

#hero-msg h1, #hero-msg h4{
    text-align: center;
}

#content{
    max-width: 1600px;
    margin: 0 auto;
}

#background{
    height: 725px;
    background-color: #F4A261;
}

#logo_link {
    padding-top: 5px;
}