body{
    background-color: #fca6c9;
    margin: 0 35%;
    text-align: center;
}

h1 {
    color: white;
    font-family: Arial;
    font-weight: bold;
    font-size: 22;
}

.quote_1 {
    color: white;
    font-family: Times;
    font-size: 8;
}

.quote_2 {
    color: white;
    font-family: Arial;
    font-weight: bold;
    font-size: 8;
}

.quote_3 {
    text-align: left;
    color: black;
    font-family: Arial;
    font-weight: bold;
    font-size: 8;
}

.quote_4 {
    color: white;
    font-family: Times;
	font-size: 19;
}

.quote_5 {
    color: black;
    font-family: Arial;
    font-size: 8;
}