body{
    background-color: lightgrey;
}

.popup{
    background-color: white;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin: auto;
    max-width: 400px;
    max-height: 500px;
    border-radius: 5px;
    padding: 25px;
}

.buttonBlue{
    border-radius: 5px;
    font-family: Calibri;
    border: 0px;
    background-color: #4682d5;
    font-size: 20px;
    color: white;
    padding:10px 30px;
    text-align: center;
}

.buttonBlue:hover{
    border-radius: 5px;
    font-family: Calibri;
    border: 0px;
    background-color: #709ad4;
    font-size: 20px;
    color: white;
    padding:10px 30px;
    text-align: center;
}

.buttonGray{
    border-radius: 5px;
    border: 0px;
    background-color: #a9a9a9;
    font-size: 20px;
    color: white;
    padding:10px 30px;
    text-align: center;
}

.buttonGray:hover{
    border-radius: 5px;
    border: 0px;
    background-color: #bdbdbd;
    font-size: 20px;
    color: white;
    padding:10px 30px;
    text-align: center;
}